.BacksTable {
  width: 95%;
  padding-top: 40px;
  margin: 0 auto;
  text-align: center;
}

.BacksButton {
  width: 67px;
  height: 100px;
}

.greyBack {
  width: 67px;
  height: 100px;
}
#BlueBack {
  background-size: cover;
}
#GreenBack {
  background-size: cover;
}
#RedBack {
  background-size: cover;
}
#PurpleBack {
  background-size: cover;
}
#YellowBack {
  background-size: cover;
}
