.Controls {
  border: #000 3px solid;
  background: #DDD;
  float: left;
  width: 30%;
  height: 750px;
}

.ControlTable {
  width: 70%;
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
}

.ControlButton {
  width: 130px;
  height: 50px;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
}
